* {
    margin: 0;
}

:root {
    --bg-gray: #5A5359;
    --bg-light-gray: #B0B0B0;
    --fg-gray: #d4d4d4;
    --fg-red: #B50938;
    --text-color: #333;
}

html {
    background-color: #360d44;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

body {
    background-color: var(--bg-light-gray);
    width: 960px;
    margin: 10px auto;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.4);
}

/* selection boxexs */
select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
}

h1 {
    text-align: center;
}

h1 a {
    text-decoration: none;
    text-shadow: none;
    color: var(--fg-red);
    transition: font-size 0.4s ease;
}

h1 a:hover {
    font-size: 1.02em;
}

a:hover {
    color: #ffffff;
}

a:active {
    color: #ffffff;
}

/* 
header {
    margin-top: 10px 0;
} */

/* styling for input (search) */
input {
    border: none;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    background-color: #333;
    color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
}

input::placeholder {
    color: var(--fg-gray);
}

/* hover events for input */
input:hover {
    color: #ff1e5a;
    background-color: var(--fg-gray);
}

input:hover::placeholder,
input:focus::placeholder {
    color: var(--fg-red);
}

input:focus {
    color: var(--fg-red);
    background-color: var(--fg-gray);
}

select {
    border: none;
    border-radius: 7px;
    cursor: pointer;
    padding: 3px 10px;
    margin: 10px;
    transition: padding 0.5s ease;
}

select:hover,
select:focus {
    padding: 5px 15px;
}

/* entire search panel section */
#search-panel {
    margin-bottom: 0;
}

/* searchbar at top of page */
#searchbar {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

#searchbar input {
    border-radius: 10px 0 0 10px;
    font-size: 1.5em;
    z-index: 2;
}

/* dropdown under searchbar for filters, etc... */
#dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: flex;
    gap: 40px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    margin-bottom: -60px;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, margin-bottom 0.3s ease-in-out;
    position: relative;
    bottom: 40px;
    justify-content: center;
    width: 720px;
    background-color: var(--fg-gray);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    text-align: center;
    border: 1px solid var(--fg-gray);
    z-index: 0;
}

.dropdown-content p {
    font-size: 1.5em;
}

/* the actual dropdown panel */
#dropdown-panel {
    padding: 40px 0 10px 0;
}

/* dropdown button */
#dropdown i {
    position: relative;
    bottom: 25px;
    font-size: 5em;
    color: var(--fg-gray);
    z-index: 1;
}

.dropbtn:hover {
    cursor: pointer;
    filter: brightness(50%);
}

.dropbtn:active {
    filter: brightness(150%);
}

/* button next to searchbar */
#searchbar button {
    background-color: var(--bg-gray);
    color: white;
    font-size: 1.25em;
    padding: 10px 30px;
    border: none;
    border-radius: 0 10px 10px 0;
    transition: color 0.2s ease, background-color 0.2s ease;
}

#searchbar button:hover {
    background-color: var(--bg-light-gray);
    cursor: pointer;
}

#searchbar button:active {
    background-color: var(--fg-gray);
    color: black;
}

/* displaying of search results */
#results {
    background-color: var(--fg-gray);
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: -20px 0 auto 0;
}

#results p {
    text-align: center;
    margin: 10px 0;
}

.result-block {
    display: flex;
    justify-content: center;
}

.result {
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 18vw;
    width: 18vw;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 3px rgba(10, 10, 10, 0.4);
    color: black;
    margin: 10px;
    overflow: hidden;
    z-index: 2;
    transition: box-shadow 0.5s ease, font-size 0.5s ease;
}

.result-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90%;
}

/* star */
.result i {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 1.2em;
    color: #fff7a2;
    z-index: 3;
}

.result:hover {
    font-size: 1.3em;
    cursor: help;
    text-shadow: #FFDADA 0px 0px 4px;
    box-shadow: 15px 15px 20px 5px rgba(10, 10, 10, 0.6);
}

.result a,
.result i {
    position: relative;
    z-index: 1;
}

.result a {
    color: var(--fg-gray);
    text-decoration: none;
    text-shadow: none;
    font-size: 1em;
    text-align: left;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.result a:hover {
    color: var(--fg-red);
}

.result:hover::before {
    cursor: pointer;
    filter: blur(1px) brightness(70%);
}

.result:active::before {
    filter: brightness(50%);
}

.result::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--result-bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
    border-radius: inherit;
    transition: filter 0.7s ease;
}

/* gradient effect to allow text to be readable */
.result::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    pointer-events: none;
    border-radius: inherit;
    z-index: -1;
}