* {
    margin: 0;
}

html {
    background-color: #5F0A87;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFDADA;
}

body {
    background-color: #A4508B;
    width: 1080px;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

header {
    margin: 10px 0;
}

/* styling for input (search) */
input {
    border: none;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    background-color: #FFDADA;
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* hover events for input */
input:hover {
    color: #5F0A87;
    background-color: #f1cece;
}

input:focus {
    background-color: #f1cece;
}

/* Section of searching at the top */
#search-panel {
    padding: 25px 0 10px 0;
}

/* searchbar at top of page */
#searchbar {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

#searchbar input {
    border-radius: 10px 0 0 10px;
    font-size: 1.5em;
}

/* dropdown under searchbar for filters, etc... */
#dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: flex;
    justify-content: center;
    width: 600px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 0;
}

.dropbtn i {
    position: relative;
    bottom: 25px;
    font-size: 5em;
    color: #3a092e;
}

.dropbtn {
    height: 0px;
    background-color: transparent;
    border: none;
    color: transparent;
    z-index: 1;
}

.dropbtn:hover {
    cursor: grab;
    filter: brightness(50%);
}

.dropbtn:active {
    filter: brightness(150%);
}

/* button next to searchbar */
#searchbar button {
    background-color: #d1bbbb;
    font-size: 1.25em;
    padding: 10px 30px;
    border: none;
    border-radius: 0 10px 10px 0;
    transition: color 0.2s ease, background-color 0.2s ease;
}

#searchbar button:hover {
    background-color: #c7b2b2;
    cursor: grab;
}

#searchbar button:active {
    color: white;
    background-color: #948181;
    cursor: grabbing;
}

/* displaying of search results */
#results {
    height: 300px;
    background-color: #bd5b9f;
    display: flex;
}

.result {
    width: 100px;
}