* {
    font-family: verdana, tahoma, sans-serif;
}

html {
    background-color: rgb(255, 190, 69);
}

body {
    max-width: 1080px;
    padding: 20px;
    border: 5px solid black;
    border-radius: 20px;
    background-color: rgb(255, 225, 168);
    margin: 0 auto;
}

header {
    background: url("../images/cats.jpg");
    height: 195px;
}

header h1 {
    margin: 0;
    color: black;
    text-align: center;
    font-size: 100px;
    padding-top: 35px;
}

#search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin: 20px;
    background-color: rgb(235, 235, 235);
}
#search button {
    background-color: greenyellow;
}

.widgets {
    color: rgb(88, 88, 88);
}

#status {
    text-align: center;
    font-style: italic;
    height: 32px;
}

h2 {
    text-align: center;
}

#results-text {
    text-align: center;
}

#content {
    padding: 0px 50px 0px 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result img {
    width: 100%;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.result img:hover {
    filter: brightness(1.2) drop-shadow(0 10px 10px rgb(163, 255, 255));
    transform: scale(1.1);
}


.result audio {
    width: 130px;
}

button {
    display: inline-block;
    cursor: pointer;

    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px 18px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    font-size: 9.5pt;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    font-family: sans-serif;
    text-decoration: none;
}

button.green {
    border-color: #8fc800;
    background: #8fc800;
    background: linear-gradient(top, #8fc800 0%, #438c00 100%);
}

button:hover {
    background: #8fDD00;
}

button:active {
    background: #8fFF00;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

button:focus {
    outline: 0;
}

.widgets {
    margin-top: 1em;
    margin-bottom: 1em;
}