/* Reset */
* {
    margin: 0;
}

html {
    background-color: rgb(29, 29, 29);
    scroll-behavior: smooth;
}

/* Header section */
body {
    box-shadow: 0 0.5vw 0.5vw 0.5vw gray;
    margin: 10px auto;
    padding: 1vw;
    max-width: 960px;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    background-color: rgb(223, 223, 223);
}

#title-container,
#intro,
#projects-title,
#bottom-art {
    scroll-margin-top: 100px;
}

/* Navbar */
.navbar {
    position: sticky;
    /* Fixed at the top */
    top: 0;
    width: 100%;
    background-color: #0f283a;
    color: white;
    padding: 15px 0;
    z-index: 100;
    /* Make sure the navbar stays on top of other content */
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 40px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    transition: color 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar {
        position: sticky;
        /* Fixed at the top */
        top: 0;
        width: 100%;
        padding: 15px 0;
        z-index: 100;
        /* Make sure the navbar stays on top of other content */
    }

    .navbar ul li {
        margin: 0 10px;
    }

    .navbar ul li a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        transition: color 0.3s ease;
    }
}

#header-bg-container {
    height: 450px;
    margin-bottom: 40px;
    transition: transform 0.6s ease, font-size 0.6s ease;
}

#header-bg-container:hover {
    transform: scale(1.01);
}

/* Hack to make img element like a background */
.img-as-bg img {
    pointer-events: none;
    position: absolute;
    object-fit: cover;
    height: 450px;
    width: 100%;
}

.img-as-bg {
    display: inline-block;
    position: relative;
    width: 100%;
    filter: brightness(50%);
}

#title-container {
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    right: 20px;
    bottom: 20px;
    vertical-align: middle;
    font-size: 1.3rem;
    white-space: nowrap;
    transition: transform 0.6s ease, font-size 0.6s ease;
}

#title-container:hover {
    font-size: 1.5rem;
}

@media screen and (max-width: 960px) {
    #title-container {
        font-size: 1rem;
    }

    #title-container:hover {
        font-size: 1.1rem;
    }
}

#title-container h1 {
    font-weight: 800;
    margin: 0;
}

#title-container #title-top {
    color: rgb(255, 255, 255);
}

#title-container #title-bottom {
    color: #3498db;
}

#bottom-art img {
    max-width: 100%;
}

/* Main section */
#projects-title {
    margin: 0px 10px 30px 10px;
}

#projects-title h2 {
    margin: 10px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

#intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

#intro #photo {
    overflow: hidden;
    border-radius: 10px;
}

#intro #photo img {
    border: 10px solid #3b71c9;
    width: 90%;
}

@media screen and (max-width: 960px) {
    #intro {
        display: flex;
        flex-direction: column-reverse;
    }

    #photo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #intro #photo img {
        border: none;
        border-radius: 10px;
        width: 25%;
    }
}

#description {
    font-size: 1.1em;
    margin: 0 20px;
    padding: 3%;
}

#description span {
    color: #3b71c9;
    font-size: 2.5rem;
}

#description p {
    margin: 10px 0;
    line-height: 2rem;
}

@media screen and (max-width: 960px) {
    
#description p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
}
@media screen and (max-width: 600px) {
    #description p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
#description h2 {
    font-size: 2rem;
    margin: 10px 0;
}

#content {
    margin-bottom: 50px;
}

#maker-portfolio {
    text-align: center;
    background: black;
    margin: 0 10px 10px 10px;
    padding: 20px;
    font-size: 2em;
    border-radius: 10px;
    height: 50vh;
}

@media screen and (max-width: 960px) {
    #maker-portfolio {
        text-align: center;
        margin: 0 10px 10px 10px;
        padding: 10px 0;
        font-size: 2em;
        border-radius: 10px;
        height: 25vh;
    }
}

#maker-portfolio iframe {
    width: 100%;
    height: 100%;
}

#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 5px solid black;
    background-color: #0f283a;
    margin: 20px;
    padding: 2px;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.project-links {
    display: flex;
    gap: 10px;
    font-size: 1.5em;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.project a:hover {
    transform: scale(1.03)
}

.project-name {
    font-size: 1em;
    font-weight: 700;
    color: #2ecc71;
    text-align: center;
    text-wrap: wrap;
}

@media screen and (max-width: 960px) {
    #projects {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .project-name {
        font-size: 1.5em;
    }

    .project-links {
        font-size: 2em;
    }
}

.project-image {
    margin-bottom: 10px;
}

.project-image img {
    width: 100%;
}

/* Make first letter large */
.text:first-child::first-letter {
    initial-letter: 3;
}

/* main text on page */
.text {
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
}

/* Bottom section */
#bottom-art {
    background-image: url("../media/portfolio/sunrise.png");
    background-repeat: no-repeat;
    background-position-y: -15vw;
    background-size: 100%;
    background-color: rgb(75, 75, 75);
    background-blend-mode: overlay;
    margin: 10px 0;
    padding: 0.5vw 0;
    overflow: hidden;
    height: 200px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 960px) {
    #bottom-art {
        background-size: 100%;
    }
}

@media screen and (max-width: 600px) {
    #bottom-art {
        background-size: 100vh;
    }
}

#bottom-art #link-container {
    display: flex;
    justify-content: center;
    padding: 1vw 0;
    gap: 15px;
}

#bottom-art #links {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: flex-end;
}

#bottom-art #links a {
    font-size: 1.5em;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bottom-art #links a p {
    font-size: 0.75em;
}

#bottom-art #link-text h2 {
    color: white;
    padding: 10px 20px;
    font-size: 2em;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: 700;
}

#bottom-art img {
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

#bottom-art #contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

#bottom-art #contact a {
    font-size: 1em;
    display: inline;
    text-align: center;
}

.link p {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    color: white;
}

a:link {
    color: #8ad0ff;
    /* Default color for unvisited links */
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

a:visited {
    color: #3498db;
    /* Color for visited links */
    text-decoration: none;
}

a:hover {
    transform: scale(1.2);
    /* Expand on hover */
    color: #2ecc71;
    /* Change color on hover */
}

a:active {
    color: #e74c3c;
    /* Color when the link is being clicked */
    transform: scale(1.1);
    /* Slight scale down when active */
}

a:focus {
    outline: 2px dashed #f39c12;
    /* Add an outline for accessibility when focused */
}