html {
    background-color: rgb(29, 29, 29);
}

/* Header section */
body {
    box-shadow: 0 0.5vw 0.5vw 0.5vw gray;
    margin: 10px auto;
    padding: 1vw;
    max-width: 960px;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    background-color: rgb(223, 223, 223);
}
/* Navbar */
.navbar {
    position: sticky; /* Fixed at the top */
    top: 0;
    width: 100%;
    background-color: #0f283a;
    color: white;
    padding: 5px 0;
    z-index: 100; /* Make sure the navbar stays on top of other content */
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.navbar ul li {
    margin: 0 40px;
}
.navbar ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    transition: color 0.3s ease;
}

#header-bg-container {
    height: 450px;
    margin-bottom: 40px;
}

/* Hack to make img element like a background */
.img-as-bg img {
    pointer-events: none;
    position: absolute;
    object-fit: cover;
    height: 450px;
    width: 100%;
}

.img-as-bg {
    display: inline-block;
    position: relative;
    width: 100%;
    filter: brightness(50%);
}

#title-container {
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    vertical-align: middle;
    font-size: 1.3em;
    white-space: nowrap;
    box-shadow: 0 0 5px 10px gray;
}

#title-container h1 {
    font-weight: 800;
    margin: 0;
}

#title-container #title-top {
    color: rgb(255, 255, 255);
}

#title-container #title-bottom {
    color: #3498db;
}

#bottom-art img {
    max-width: 100%;
}

/* Main section */
#projects-title {
    margin: 0px 10px 30px 10px;
}
#projects-title h2 {
    font-size: 2rem;
    margin: 0;
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    margin: 0 0.5vw;
    padding-left: 10px;
}

#content p {
    margin: 0;
}
#intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}
#intro #photo {
    overflow: hidden;
    margin: 20px auto;
}
#intro #photo img {
    border: 10px solid #3b71c9;
    width: 90%;
}
#description {
    font-size: 1.1em;
    margin: 0 20px;
    padding: 3%;
}
#description span {
    color: #3b71c9;
    font-size: 2.5rem;
}
#description p {
    margin: 10px 0;
    line-height: 2rem;
}
#description h2 {
    font-size: 2rem;
    margin: 10px 0;
}

#content #projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 75%;
}
.project {
    display: grid;
    grid-template-rows: 5fr 1fr;
    background-color: #000000;
}
.project-links {
    display: flex;
    justify-content: space-between;
}
.project-image {
    width: 100%;
}
.project-image img {
    width: 100%;
}

/* Make first letter large */
.text:first-child::first-letter {
    initial-letter: 3;
}
/* main text on page */
.text {
    font-size: 0.9em;
    font-family: 'Times New Roman', Times, serif;
}
#side-elements {
    display: block;
    margin-left: auto;
    margin-right: 0;
}
#side-elements img {
    max-width: 100%;
}
.image-diamond {
    /* background-color: #d92b2b; Adjust to match the red shade */
    color: white;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: -140px;
    position: relative;
}
.image-diamond:first-child {
    filter: hue-rotate(200deg);
}
.image-diamond:nth-child(2) {
    color: black;
}
.img-text {
    position: absolute;
    width: 65%;
    top: 3%;
    right: 25%;
}
/* Bottom section */
#bottom-art {
    background-image: url("../media/portfolio/sunrise.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -75px;
    background-color: rgb(96, 96, 96);
    background-blend-mode: overlay;
    margin: 10px 0;
    padding: 0.5vw;
    overflow: hidden;
    height: 300px;
}
#bottom-art #links {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#bottom-art #links a {
    font-size: 5em;
    transition: transform 0.2s ease;
}
#bottom-art img {
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
    object-position: 0 -70px;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link p {
    margin: 0;
    font-size: 1.5em;
    font-weight: 700;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    color: white;
}

a:link {
    color: #8ad0ff; /* Default color for unvisited links */
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

a:visited {
    color: #3498db; /* Color for visited links */
    text-decoration: none;
}

a:hover {
    transform: scale(1.2); /* Expand on hover */
    color: #2ecc71; /* Change color on hover */
}

a:active {
    color: #e74c3c; /* Color when the link is being clicked */
    transform: scale(1.1); /* Slight scale down when active */
}

a:focus {
    outline: 2px dashed #f39c12; /* Add an outline for accessibility when focused */
}
