/* universal selector: border */
/* * {
    border: 1px solid gray;
} */

/* applying font */
html {
    font-family: Arial, sans-serif;    
}

/* Background color of page */
body {
    background-color: #421707;
}

main, header, footer {
    background-color: #FBEDD0;
    border: 1px solid black;
    margin: 0 auto;
    width: 80vw;
    padding: 1.5rem;
}

/* publishing info background color */
footer {
    background-color: #C5C8BB;
}

/* horizontal rule color */
hr {
    border-color: #28908C;
}

/* pad logo */
#logo {
    padding: 20px;
}

/* Header (title on top of page) */
h1 { 
    font-family: "Inria Sans", sans-serif;
    color: red;
    margin-left: 10px;
}
/* Section headings */
h2 {
    font-family: "Inria Sans", sans-serif;
    color: #28908C;
    margin-left: 30px;
}

/* Indent paragraphs */
p, blockquote, ul, ol {
    margin: 3vh;
    padding: 0;
    margin-left: 75px;
}
/* Add padding and background to quotes */
blockquote { 
    background-color: lightgray;
    padding: 1rem;
}
/* abbreviation emphasis */
abbr {
  font-style: italic;
  color: salmon;
}

/* target images of class side */
img.side {
    float: right;
    padding: 10px;
    margin: 32px 12px 0 0;
}

/* align header logo and small image */
#logo-inflate {
    display: flex;
    align-items: center;
    justify-content: center;
}

#fygar-inflate {
    margin-left: 2%;
    width: 5%;
}

a:link {
    color: #28908C;
    text-decoration: none;
}

a:visited {
    color: #0A0603;
    text-decoration: none;
}

a:hover {
    color: #97948e;
    text-decoration: underline;
}

footer a {
    font-family: "Inria Sans", sans-serif;
}