* {
    margin: 0;
    padding: 0;
    user-select: none;
}

:root {
    --bg-gray: #5c5c5c;
    --bg-light-gray: #B0B0B0;
    --fg-gray: #d4d4d4;
    --fg-red: #B50938;
    --text-color: #333;
}

html {
    background-color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 10px auto;
    padding: 10px 0;
    width: 1080px;
    border: 3px solid red;
}

h1 {
    text-align: center;
}

/* Grid setup for matrix-panel, moves-panel, and powerups-panel */
#gameplay {
    display: grid;
    grid-template-areas:
        "ma mv"
        "ma mv"
        "ma mv"
        "ma pw"
        "ma pw";
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

#matrix-panel,
#moves-panel,
#powerups-panel {
    margin: 20px;
    padding: 20px;
    background-color: var(--bg-gray);
    text-align: center;
}

#matrix-panel {
    grid-area: ma;
}

#moves-panel {
    grid-area: mv;
}

#powerups-panel {
    grid-area: pw;
}

#panel {
    max-height: 600px;
}

#matrix-container {
    margin: 50px;
    display: grid;
    font-size: 1.5em;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.matrix-element {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
}

#moves-container {
    display: grid;
    background-color: var(--bg-light-gray);
    margin: 20px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: calc(100% - 60px);
}

.move {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted black;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

/* Apply CSS effect as long as the div is not empty */
.move:hover:not(.empty), .powerup:hover:not(.empty) {
    transform: scale(1.1);
    /* box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.4); */
    background-color: inherit;
}

.move.empty {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

#powerups-container {
    display: grid;
    background-color: var(--bg-light-gray);
    margin: 20px;
    grid-template-columns: repeat(3, 1fr);
    height: calc(100% - 60px);
    box-sizing: border-box;
}

.powerup,
.powerup-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted black;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.powerup {
    border: 1px dotted black;
}

.selected {
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.4) inset;
}

#popup {
    position: absolute;
    background-color: var(--fg-gray);
    box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.3);
    padding: 25px;
    border-radius: 5px;
    z-index: 10;
}

.hidden {
    display: none;
}

#popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

#popup p {
    font-size: 1.5em;
    font-weight: bold;
}

#popup select {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 5px;
}

#popup button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}

.empty {
    color: #555;
    font-style: italic;
    cursor: not-allowed;
}

#stats {
    margin: 20px 0 20px 0;
    font-size: 1.3em;
    padding: 0 20px;
    display: grid;
    text-align: center;
    grid-template-columns: 3fr 3fr 1fr 1fr;
}

#level {}

#score {}

#moves {}

#timer {}