html {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 1080px;
    margin: 10vh auto;
    padding: 0 10px;
    border: 1px solid black;
    background-color: rgb(194, 194, 178);
}

header, footer {
    text-align: center;
}

#phrase-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    border: 3px solid black;
    padding: 10px;
    width: 60%;
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/mozart.jpg");
    background-position: center;
    background-size: auto 100%;
    background-repeat: repeat;
}

#phrase-container {
    font-family: "Merienda";
    font-size: 1.4em;
    line-height: 2em;
    color: white;
    height: 200px;
}

#phrase-button button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    padding: 20px 40px;
    background: radial-gradient(#e66465, #9198e5);
    transition: transform 0.3s ease;
}

#phrase-button button:hover {
    transform: scale(1.1);
}

#phrase-button button:active {
    box-shadow: inset 0px 0px 5px 5px rgb(61, 61, 61);
}
